<% content_for :title, "Editing post" %>

<h1>Editing post</h1>

<%= render "form", post: @post %>

<br>

<div>
  <%= link_to "SHOW THIS POST", @post, class: "bg-red-300" %> |
  <%= link_to "Back to posts", posts_path %>
</div>
