<% content_for :title, "New post" %>

<h1>New post</h1>

<%= render "form", post: @post %>

<br>

<div>
  <%= link_to "Back to posts", posts_path, class: "hover:text-red-600 hover:text-blue-600 bg-gradient-to-r from-red-500 via-blue-500 to-red-500" %>
</div>
